* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}


.clearfix {
  overflow: auto;
  clear: both;
}


.education-entry,
.work-entry,
.project-entry {
  padding-left: 5%;
  padding-right: 5%;
}


h1 {
  font-size: 40px;
  color: #f5a623;
  line-height: 48px;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
}


h2 {
  font-weight: 300;
  font-size: 24px;
  color: #242830;
  line-height: 29px;
  padding: 10px;
  text-transform: uppercase;
}


h3 {
  font-size: 20px;
  color: #000;
  line-height: 22px;
  font-weight: 300;
}


h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}


h2,
h3,
h4,
h5 {
  padding: 15px;
  padding-left: 5%;
  padding-right: 5%;
}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  /*line-height: 16px;*/
  /*float: left;*/
}


.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;
}


p {
  font-size: 14px;
  color: #7b8185;
  line-height: 25px;
}


a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}


.orange {
  background-color: #f5ae23;
}


.orange-text {
  color: #f5ae23;
}


.white-text {
  font-weight: bold;
  color: #fff;
}


.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear: both;
}


.dark-gray {
  background-color: #4a4a4a;
}


.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}


.center-content {
  padding: 15px 0 0;
  padding-left: 5%;
  padding-right: 5%;
}


ul {
  list-style-type: none;
}


img {
  padding: 0 10px;
}


span {
  padding: 5px;
}

.section-title {
  text-align: center;
  padding: 25px inherit;
}


/* Nav */
.nav-list {
  float: right;
}


.nav-item {
  display: inline;
  padding: 0 10px;
}


.nav-item-link {
  display: inline;
  text-transform: uppercase;
}


.nav-item-link:hover {
  text-decoration: underline;
}


/* Header */
/* TODO: Replace with image later */
.header {
  background-color: #242830;
}


.biopic {
  padding: 10px;
  width: 120px;
  display: block;
  margin: 0 auto;
  border-radius: 70px;
}


.contact-link {
  color: #fff;
  display: inline;
}


/* About */
.about-content {
  width: 40%;
  padding: 0 5%;
  float: left;
}


.about-image {
  padding: 0 5%;
  width: 90%;
  float: right;
  margin-bottom: 30px;
}


.welcome-message {
  font-size: 14px;
  color: #bbb;
  line-height: 28px;
  padding: 0;
  margin-bottom: 15px;
}


.skills-container {
  padding: 0;
}


.skills-heading {
  padding: 15px 0 15px;
}


/* Work */
.role-text {
  color: #fff;
  display: block;
  text-align: center;
}


/* Projects */
.projects {
  background: #242830;
}


/* Projects section heading, rather than title of individual project */
.projects-title {
  color: #fff;
}


.project-entries-container {
  padding: 0 5%;
}


.project-entry {
  background: #fff;
  padding: 15px;
  margin-bottom: 30px;
}


.project-entry-title,
.work-entry-title {
  padding: 0;
  line-height: 20px;
}


.project-image {
  width: 100%;
  padding: 0;
}


.video-wrapper {
  max-width: 100%;
}


/* Map */
.map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

.map-container {
  height: 400px;
  width: 100%;
  padding-bottom: 15%;
}

/* Connect/footer */
.letsConnect {
  text-align: center;
}


.footer {
  background-color: #242830;
}


.connect {
  color: #fff;
  font-weight: 300;
}


/* Media Queries */
@media only screen and (max-width: 1024px) {
  .letsConnect {
    margin-top: 5%;
  }
}


@media only screen and (max-width:900px) {
  .biopic {
    width: 120px;
  }
}


@media only screen and (max-width: 750px) {
  .letsConnect {
    margin-top: 10%;
  }


  .biopic {
    width: 120px;
  }


  .about-content {
    width: 90%;
  }


  .welcome-message {
    width: 100%;
    float: none;
  }


  .skills-container {
    width: 100%;
    float: none;
    display: block;
  }
}


@media only screen and (min-width: 750px) {
  .biopic {
    display: block;
  }


  .about-image {
    width: 40%;
  }


  .project-entry {
    width: 30%;
  }


  .map-container {
    padding-bottom: 8%;
  }
}